### **Segmenting and Clustering Neighborhoods in Toronto (Second Step)**

##### **Import Libraries and Data from First Step**

In [41]:
import pandas as pd
import numpy as np

df_toronto = pd.read_csv('toronto_part1.csv')
df_toronto = df_toronto.drop(['Unnamed: 0'], axis=1)
df_toronto.head(10)

,Postcode,Borough,Neighbourhood
0,M9W,Etobicoke,Northwest
1,M5S,Downtown Toronto,"Harbord, University of Toronto"
2,M3J,North York,"Northwood Park, York University"
3,M2H,North York,Hillcrest Village
4,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol..."
5,M6A,North York,"Lawrence Heights, Lawrence Manor"
6,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West"
7,M2N,North York,Willowdale South
8,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
9,M2R,North York,Willowdale West

##### **Part 1: Get Geocodes**

In [47]:
df_geodata = pd.read_csv("http://cocl.us/Geospatial_data")
df_geodata.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

##### **Part 2: Match and Merge Geocodes**

In [51]:
df_2 = pd.merge(df_toronto, df_geodata, left_on='Postcode', right_on='Postal Code')
df_2 = df_2.drop(["Postal Code"], axis=1)
df_2.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M9W,Etobicoke,Northwest,43.706748,-79.594054
1,M5S,Downtown Toronto,"Harbord, University of Toronto",43.662696,-79.400049
2,M3J,North York,"Northwood Park, York University",43.767980,-79.487262
3,M2H,North York,Hillcrest Village,43.803762,-79.363452
4,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201

##### **Part 3: Save as CSV for Third Step**

In [52]:
df_2.to_csv('toronto_part2.csv')